
lectures/2.5/power.csv
lectures/2.5/transactions.csv
lectures/2.5/user_matrix.JPG
lectures/2.5/User_materix.xlsx
hw5/ml-latest-small/links.csv
hw5/ml-latest-small/movies.csv
hw5/ml-latest-small/ratings.csv
hw5/ml-latest-small/README.txt
hw5/ml-latest-small/tags.csv
hw5/power.csv
